* {
	outline: none;
	margin: 0;
}

body {
	overflow: hidden;
}

#webgl-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.game-score {
	position: absolute;
	top: 80px;
	width: 100%;
	text-align: center;
	font-size: 40px;
	color: #ffffff;
}

.game-over {
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 48px;
	color: #ffffff;
	text-align: center;
}

/* 버튼 스타일 */
.game-over-button {
	margin-top: 20px;
	padding: 10px 20px;
	font-size: 20px;
	background-color: #4CAF50;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s;
}

.game-over-button:hover {
	background-color: #45a049;
}
